### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

.snakemake/
workup/
workup2/
scripts/python_bam
assets/
config.yaml
Snakefile_old
rulegraph_old.pdf
samples.json
